
# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel
### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

/new/
/old_website/

storage/*.key
.env
Homestead.yaml
Homestead.json
